* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 0.5vw;
    font-size: 3em;
}

.timer {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.time-input-wrapper {
    display: flex;
    align-items: center;
}

.time-input-wrapper span, .time-text-wrapper span {
    margin: 0 0.75vw;
}

.time-input[type="text"], .time-text-wrapper p{
    height: 5vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
}

.time-input-wrapper span, 
.time-input, 
.time-text-wrapper span, 
.time-btn{
    font-size: 1.5em;
}

.time-text-wrapper {
    display: none;
    align-items: center;
}

.time-btn-wrapper {
    margin-left: 1vw;
}

.time-btn {
    height: 5vh;
    min-width: 7vw;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}

.time-btn:hover {
    opacity: 0.75;
    cursor: pointer;
}

.time-btn[name="startBtn"] { 
    background-color: green;
}

.time-btn[name="pauseBtn"] { 
    display: none;
    background-color: red; 
}

.time-btn[name="resetBtn"] { 
    display:none;
    background-color: blue;
    margin-left: 1vw; 
}

.delete-btn{
    height: 4.5vh;
    min-width: 4.5vh;
    margin-right: 1vw;
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.delete-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

#add-timer-btn {
    height: 5vh;
    min-width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.25em;
    background-color: purple;
    color: white;
}

#add-timer-btn:hover {
    opacity: 0.75;
    cursor: pointer;
}





