* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

#app {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chart-wrapper {
    width: 100%;
    transform: translate(-2.5%);
}

.chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(-10%);
    margin-bottom: 2vh;
}

.chart-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bar-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px 1vw;
}

.bar-wrapper {
    height: 100%;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bar-wrapper:hover {
    opacity: 0.75;
}

.bar-wrapper:hover > .bar-label {
    display: block;
}

.bar-label {
    position: relative;
    top: 0.1px;
    min-width: min-content;
    display: none;
    margin-bottom: 1vh;
    padding: 5px;
    font-size: 0.75em;
    background-color: black;
    color: white;
    opacity: 0.9;
}


.x-axis {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    padding: 1vw;
}

.y-axis {
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-right: 1vw;
}

.y-axis-value {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 1vh;
}

#dataset-form {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

#dataset-form input {
    width: 10vw;
    border: 1px solid black;
}


.btn-wrapper {
    width: 75%;
    display: flex;
}

#refetch-btn {
    margin-top: 2.5vh;
    border-radius: 10px;
    padding: 5px;
    font-size:1.05em;
    background-color: blue;
    color: white;
}

#refetch-btn:hover {
    cursor: pointer;
    opacity: 0.75;
}