.bar-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px 1vw;
}

.bar-wrapper {
    height: 100%;
    width: var(--chart-bar-width);
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bar-wrapper:hover {
    opacity: 0.75;
}

.bar-wrapper:hover > .bar-label {
    display: block;
}

.bar-label {
    position: relative;
    top: 0.1px;
    min-width: min-content;
    display: none;
    margin-bottom: 1vh;
    padding: 5px;
    font-size: 0.75em;
    background-color: black;
    color: white;
    opacity: 0.9;
}