body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}

.offer-wrapper {
    margin-bottom: 10px;
}

.offer-button:hover {
    cursor: pointer;
}

.offer-accepted-msg {
    display: none;
}

#modal {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#modal-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

#modal-menu button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: inherit;
}

#modal-menu button:hover {
    color: white;
    cursor: pointer;
}

#exit-modal-btn {
    height: 15%;
    width: 15%;
    align-self: flex-start;
    padding: 5px;
}

#exit-modal-btn:hover {
    background-color: red;
}

#accept-offer-btn {
    padding: 10px;
    width: 30%;
}

#accept-offer-btn:hover {
    background-color: green;
}