* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

textarea, input, button, select {
    resize: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}